.container{
  width:80vw;
  margin: 0 auto;
}

.jumbotron{
  background-color: rgb(128, 128, 253);
  color: white;
  height: 4rem;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 10px;
}

form{
  border: 2px solid black;
  padding:10px;
}

/* searching */
.searchBox{
  height: 2.5rem;
  border: 2px solid black;
  border-radius: 5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
}

#search{
  height: 70%;
  flex: auto;
  border: none;
  align-self: center;
}

.searchIcon{
  flex: 2fr;
  width: 2rem;
  height: auto;
  align-self: center;
}

/* submit */
.submitBox{
  margin-top: 10px;
}

/* #submit{
  background-color: rgb(128, 128, 253);
  border: 1px solid white;
  border-radius: 5rem;
  
  width: 20rem;
  height: 2rem;
} */

/* movies styles */
.movieBox{
  border: 2px solid grey;
  border-radius: 2rem;
  padding: 1rem;
  display: flex; 
  margin-top: 10px; 
  margin-bottom: 10px; 
}
.poster{
  border: 2px solid red;
  height: 15rem;
  width: auto;
}
img{
  width: 100%;
  height: 100%;
}
.movieBody{
  margin: 1rem;
}

/* buttons */
button{
  background-color: rgb(128, 128, 253);
  border: 1px solid white;
  border-radius: 5rem;
  width: 20rem;
  height: 2rem;
  color: white;
}

button:hover{

}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.detailContent{
  display: flex;
}
.detailPoster{
  border: 2px solid red;
  width: 30rem;
  height: auto;
}

.detailmovieBody{
  margin: 1rem;
}